<style>
    .icon_style{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: white;
        cursor:pointer;
    }
    #alert-box {
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0;
    }
</style>
<div class="row" id="alert-box">
    <div class="col s12 m12">
        <div class="card red darken-1">
            <div class="row">
                <div class="col s12 m10">
                    <div class="card-content white-text">
                        <p>This page template is outdated so some functionality may not work. Please try again later for the newest page template.</p>
                    </div>
                </div>
                <div class="col s12 m2">
                    <i class="fa fa-times icon_style" id="alert_close" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
