<footer class="page-footer primary-color-background secondary-color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Mill Marginalia Online</h5>
                <p class="grey-text text-lighten-4" style="text-indent: 0;">The site is hosted by the University of
                    Alabama Libraries, and has received financial and material support from the University of Alabama
                    College of Arts and Sciences, Office of the Vice President for Research and Economic Development,
                    and University Libraries, as well as Somerville College, Oxford.</p>
            </div>
            <div class="col offset-l3 l3 s12">
                <ul>
                    <li><a class="white-text" href="{{ url_for('show_home') }}">Home</a></li>
                    <li><a class="white-text" href="{{ url_for('show_shelf') }}">Explore Library</a></li>
                    <li><a class="white-text" href="{{ url_for('basic_search') }}">Search</a></li>
                    <li><a class="white-text" href="{{ url_for('show_volumes') }}">Volumes</a></li>
                    <li><a class="white-text" href="{{ url_for('show_authors') }}">Authors</a></li>
                    <li><a class="white-text" href="{{ url_for('show_about') }}">About</a></li>
                    <li><a class="white-text" href="{{ url_for('show_blog') }}">Progress Blog</a></li>
                    <li><a class="white-text" href="{{ url_for('show_contact') }}">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
{#<script src="https://cdn.jsdelivr.net/npm/materialize-css@1.0.0/dist/js/materialize.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/materialize-css@0.100.2/dist/js/materialize.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

