{% set active_page = 'about' %}
{% include 'front/head.html' %}
<style>
    .parallax-container { min-height: 180px; }
    #parallax-img-1 { transform: translate3d(-50%, 230px, 0px) !important; }
</style>
<body>
{% include 'front/nav.html' %}
<main>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center secondary-color">Contact</h1>
        </div>
    </div>
    <div class="parallax"><img id="parallax-img-1" src="{{ url_for('static', filename='img/background1.png') }}" alt="Mill Library background image"></div>
</div>

<div class="container">
    <div class="section">
        <p>For any issues, questions, or concerns please email contact@millmarginalia.org .</p>
    </div>
</div>

</main>
{% include 'front/footer.html' %}
<script>
(function($){
    $(function(){
        $('.button-collapse').sideNav({ edge: 'right'});
        $('.parallax').parallax();
        $('.collapsible').collapsible();
    });
})(jQuery);
</script>
</body>
</html>